#POSTGRES
DATABASE_URL=postgresql://admin:password@localhost:5432/backend_node

#GOOGLE
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/api/v1/auth/google/callback
AUTH_REDIRECT_URL=

#COMMONS
JWT_SECRET=
